{% extends 'base.html.twig' %}

{% block body %}
    <h1>Trabalho</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ trabalho.id }}</td>
            </tr>
            <tr>
                <th>Titulo</th>
                <td>{{ trabalho.titulo }}</td>
            </tr>
            <tr>
                <th>Descrissao</th>
                <td>{{ trabalho.descrissao }}</td>
            </tr>
            <tr>
                <th>Diretorio</th>
                <td>{{ trabalho.diretorio }}</td>
            </tr>
            <tr>
                <th>Minicursoid</th>
                <td>{{ trabalho.minicursoId }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('trabalhos_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('trabalhos_edit', { 'id': trabalho.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
